<DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="Controller">
    <div class="Placar">
        <div style="border-bottom: 3px solid;"> 
            <span class="nomeJogador1" >Jogador 1</span><span class="x">X</span><span class="xMeio">X</span><span class="nomeJogador2">Jogador 2</span>
        </div>
        <span class="pontosJogador1">{{pontuacaoJogador1}}</span> <span class="pontosJogador2">{{pontuacaoJogador2}} </span>
    </div>

        <div id="jogo" class="backGround">
            <div id="{{$index}}" class="ponto" ng-repeat="ponto in listaPontos" ng-click="obterTraco(ponto)">
                    <span class="textPonto">{{ponto.id}}</span>
                    <div id="tracoVertical{{$index}}" class="tracoVertical"></div>
                    <div id="tracoHorizontal{{$index}}" class="tracoHorizontal"></div>
            </div>          
        </div>
</body>
</html>